.createPage {
    background-color: #eee;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.title {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
}

.form {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
}

.formGroup {
    margin-bottom: 20px;
}

.postLabel {
    display: block;
    margin-bottom: 5px;
}

.textInput,
.textArea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.textArea {
    resize: vertical;
}

.small {
    display: block;
    margin-top: 5px;
    color: #888;
}

.submitBtn {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.submitBtn:hover {
    background-color: #4cae4c;
}
